#footer
  div © 2018 Kurt Lewis. 
  div 
    a(href="https://github.com/ceas-ambassadors/ceas-ambassadors-website/graphs/contributors") Maintained by CEAS Ambassadors Technology Chair.
  div 
    //- Link to MIT License
    a(href="https://github.com/ceas-ambassadors/ceas-ambassadors-website/blob/master/LICENSE")  Code licensed under MIT License
  div
    //- Link to GitHub Repository
    a(href="https://github.com/ceas-ambassadors/ceas-ambassadors-website") Project Home

    a= ' .'

    //- Link to report issues in the website
    a(href="https://github.com/ceas-ambassadors/ceas-ambassadors-website/issues")=' Issues'