#footer
  div © 2018 Kurt Lewis. Maintained by Kurt Lewis and Sean Kane.
  div Code licensed under 

    //- Link to MIT License
    a.navbar(href="https://github.com/kurtlewis/ceas-ambassadors-website/blob/master/LICENSE") MIT License
  div
    //- Link to GitHub Repository
    a.navbar(href="https://github.com/kurtlewis/ceas-ambassadors-website") Project Home 
    
    a · 

    //- Link to report issues in the website
    a.navbar(href="https://github.com/kurtlewis/ceas-ambassadors-website/issues") Issues    