#nav-bar

  div(class='logo')
    a.nav-bar-link(href='/') CEAS Ambassadors
  div(class='page-links')
    if user == null
      a.nav-bar-link(href='/signup') Sign Up
      a.nav-bar-link(href='/login') Log in
    if user
      a.nav-bar-link(href='/settings')=user.email
      a.nav-bar-link(href='/logout') Logout