#nav-bar
  //- Writing this as a table isn't a great idea
  //- A table might have a hard time resizing for mobile - 
  table(width='100%')
    //- Create a single row - each td is a column
    tr
      td(width='7%')
      td(width='20%')
        a.nav-bar-link(href='/') CEAS Ambassadors
      td(width='83%')
