#nav-bar
  //- Writing this as a table isn't a great idea
  //- A table might have a hard time resizing for mobile - 
  table(width='100%')
    //- Create a single row - each td is a column
    tr
      td(width='7%')
      td(width='20%')
        a.nav-bar-link(href='/') CEAS Ambassadors
      td(width='13%')
      td(width='5%')
        a.nav-bar-link(href='/signup') Sign up
      td(width='5%')
        a.nav-bar-link(href='/login') Log in
      if user
        td(width='3%')
          #nav-bar-link=user.email
        td(width='3%')
          a.nav-bar-link(href='/logout') Logout
