nav(class="navbar navbar-expand-lg navbar-light bg-light")
  a(class="navbar-brand", href="/") CEAS Ambassadors
  button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse", id="navbarNav")
    ul(class="navbar-nav mr-auto")
      li(class="nav-item")
        a(class="nav-link", href="/member") Members
      li(class="nav-item")
        a(class="nav-link", href="/event") Events
      li(class="nav-item")
        a(class="nav-link", href="/virtual-tour") Virtual Tour
      if user 
        li(class="nav-item")
          a(class="nav-link", href="/training") Training
      li(class="nav-item")
        a(class="nav-link", href="/apply") Apply
      li(class="nav-item")
        a(class="nav-link", href="/booklet") Info Booklet
    ul(class='navbar-nav')
      if user == null
        li(class="nav-item")
          a(class="nav-link", href="/signup") Sign Up
        li(class="nav-item")
          a(class="nav-link", href="/login") Login
      if user
        li(class="nav-item")
          a(class="nav-link", href="/settings")=user.email
        li(class="nav-item")
          a(class="nav-link", href="/logout") Logout
