extends ./layout

block content
  div.hosted-block
    h1 Apply to be a CEAS Ambassador!
    iframe(src='https://formfacade.com/headless/110852401474044904657/home/form/1FAIpQLSftH8dMruoON9lz60KgcHigG44Abd_L0XQFoDLG7h-BA5tLGw', width='860', height='500', frameborder='0', marginheight='0', marginwidth='0') Loading...