extends layout
//- mixin for list of events
include ./event/mixins/list.pug
include ./member/mixins/list.pug

block content
  //- Only insert featured member if there is a member to feature
  if featuredMembers
    +member-list(featuredMembers, "Featured Member")
  
  +event-list('Upcoming Events', events)
  +event-list('Next Meeting', meetings)
  img(src="/images/sun.png", alt="a",id="icon")