extends ./layout

block content
  div.hosted-block
    h1 Ambassador Information Booklet
    iframe(src="https://drive.google.com/file/d/1skYm8MmeA7-V-G1Zdyng0PTkhrr14-EgkQ2GjLSmcEg/preview", width="960", height="570")
  