//- this document is the base of all html outputs
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- navigation bar
    include partials/navigation
    //- the actual content - the page that was requested
    #content
      block content
