extends layout

block content
  h2
    | On this page, you can reset all events and hours for the semester. <strong> This action is not reversable. </strong>
  h3 
    | Only proceed on direction instruction from the president or technology chair.
    | The password for this action is controlled by the technology chair.
  h1 Reset
  form(id='resetWebsite', action='reset', method='post', onSubmit="return confirm('This action is not reversable. Proceed?')")
    input(type='hidden', name='_csrf', value=csrfToken)
    div
      label Password for Reset
      input(type='password', name='password')
    input(type='submit', name='resetWebsite', value='Reset Website')