extends ./layout
block content
  div.hosted-block
    h1 Bearcat Motorsports
    iframe(src="https://drive.google.com/file/d/1eVOd-OasOmluCgJQVpI78ZvdpbDKAD3z/preview", width="960", height="840")
  div.hosted-block 
    h1 CEAS Tribunal
    iframe(src="https://drive.google.com/file/d/1Qn0nvdUowj7gAEKo21fSGl1330XW87ci/preview", width="960", height="840")
  div.hosted-block
    h1 Construction Student Association
    iframe(src="https://drive.google.com/file/d/1FrK9o42gcOHGAQgPgsiRzOAr7C2ubd56/preview", width="960", height="840")
  div.hosted-block
    h1 CubeCats
    iframe(src="https://drive.google.com/file/d/10I86wZdBD3mrWklj8zDlXhzAoZoMy-tU/preview", width="960", height="840")
  div.hosted-block
    h1 EnableUC
    iframe(src="https://docs.google.com/presentation/d/1LDLwBZ2mnfK7CYIt4yFLHj8JtGb9ffY8/preview", width="960", height="840")
  div.hosted-block
    h1 Engineers Without Borders
    iframe(src="https://docs.google.com/presentation/d/1Dd2ln3Ohu8fwuPzIZYGO9VSm_oiGKgqxaV5T9grskzE/preview", width="960", height="840")
  div.hosted-block 
    h1 Society of Women Engineers
    iframe(src="https://docs.google.com/presentation/d/1v3oc3t9pWksc--f65ghGsvfXbxvTPGr4/preview", width="960", height="840")
  div.hosted-block 
    h1 Triangle
    iframe(src="https://docs.google.com/presentation/d/1ZpYRzvkpm-iLLeI2UEDejY4YvjkYMocK/preview", width="960", height="840")
  div.hosted-block 
    h1 UC Robotics Team
    iframe(src="https://docs.google.com/presentation/d/1uEBEmdoqaRuU7XToESbwCfhINJYKHM61/preview", width="960", height="840")
  div.hosted-block 
    h1 UC Rocketry Club
    iframe(src="https://docs.google.com/presentation/d/10PHwBAQUu-vkm1fFuGyCcYYHLpn1__nO/preview", width="960", height="840")
  div.hosted-block 
    h1 WIE Connect: Women in Flight @ UC
    iframe(src="https://docs.google.com/presentation/d/1d7XjZRXpdMQ9GMruAC9oqkJ4JkJiO-HB/preview", width="960", height="840")





    