extends ./layout
block content
  div.hosted-block
    h1 Construction Student Association
    iframe(src="https://drive.google.com/file/d/1FrK9o42gcOHGAQgPgsiRzOAr7C2ubd56/preview", width="960", height="840")
  div.hosted-block
    h1 Engineers Without Borders
    iframe(src="https://drive.google.com/file/d/1nJDrMYlh-soShPRwNZ9q72AVTKalmUh2/preview", width="960", height="840")
  div.hosted-block
    h1 CubeCats
    iframe(src="https://drive.google.com/file/d/10I86wZdBD3mrWklj8zDlXhzAoZoMy-tU/preview", width="960", height="840")
  div.hosted-block
    h1 Bearcat Motorsports
    iframe(src="https://drive.google.com/file/d/1eVOd-OasOmluCgJQVpI78ZvdpbDKAD3z/preview", width="960", height="840")
  div.hosted-block 
    h1 CEAS Tribunal
    iframe(src="https://drive.google.com/file/d/1Qn0nvdUowj7gAEKo21fSGl1330XW87ci/preview", width="960", height="840")





    