extends ./layout
block content
  div.hosted-block
    h1 Construction Student Association
    iframe(src="https://drive.google.com/file/d/1ioLk64hCiPWcXoZzIckYSaLYCsVm272f/preview", width="960", height="840")
  div.hosted-block
    h1 Engineers Without Borders
    iframe(src="https://drive.google.com/file/d/1nJDrMYlh-soShPRwNZ9q72AVTKalmUh2/preview", width="960", height="840")