extends ./layout

block content
  div.hosted-block
    h1 Training Orientation
    iframe(src="https://drive.google.com/file/d/1qifxzczI_An1dn5a8Jk85fzXRUm3z440/preview", width="960", height="840")
  div.hosted-block
    h1 Public Safety Orientation
    iframe(src="https://drive.google.com/file/d/1_--Ol6Q64tQpeNlrBlAfLwStFoQYIz0H/preview", width="960", height="840")
  div.hosted-block
    h1 Website Tour
    iframe(src="https://drive.google.com/file/d/1ijrBVX8i-QZSpimNM_JoC_FJMm8XGoZV/preview", width="960", height="840")
    h2 Useful timestamps
    ul
      li Profile settings 2:25
      li Signing up for an event 4:24