/* The base of everything */
body {
  margin: 0px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  background-color: #fcfdff;
}

/* Link */
a {
  color: #00B7FF;
}

/*********************
*  Nav bar styles    *
*********************/
#nav-bar {
  background-color: #f4f7fc;
  padding: 2%;
  border-style: none none solid none;
  border-color: #c0c1c4;
  font: 18px "Lato";
  line-height: 0.1;
}

/* Default colored links would look dumb */
.nav-bar-link {
  color: #000000;
  text-decoration: none; /* Turn off underlining */
}


/*********************
*   Alert Styles     *
*********************/
#alert {
  padding: 1% 10%;
  margin: 1% 10%;
  color: #000000;
  font-size: 20px;
  padding: 20px;
  line-height: 180%;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
}

.alert-error {
  background-color: #d63131;
  border-color: #c92a2a;
}

.alert-info {
  background-color: #e8da1e;
  border-color: #f7f094;
}

.alert-success {
  
  background-color: #36c164;
  border-color: #29bc5a;
  
}

/*********************
* Content Container  *
*********************/
/* Everything content wise appears within this container */
#content {
  margin: 5% 10% 5% 10%;
}

/*********************
*   Footer Styles    *
*********************/
/* Locks the footer to the bottom of the page */
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #f4f7fc;
  text-align: center;
}