extends ../layout
//- load member list style
include ./mixins/list.pug
include mixins/hours-table

block content
  +member-list(members, "Members")
  if(user && user.super_user)
    +member-table(members, "Hours")
    +member-table(members, "Certified")
