extends ../layout

block content
  div(class="container")
    div(class='box-border')
      h1(class='title') Login
      form(id='login', action='login', method='post', class='sign-log')
        input(type='text', name='email', placeholder='6+2@mail.uc.edu', class='entry')
        input(type='password', name='password', placeholder='Password', class='entry')
        input(type='submit', name='login', value='Login', class='submit')