extends ../layout

block content
  div(class="container")
    div(class='box-border signin')
      h1(class='title') Login
      form(id='login', action='login', method='post', class='sign-log')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='text', name='email', placeholder='6+2@mail.uc.edu', class='entry')
        input(type='password', name='password', placeholder='Password', class='entry')
        a(href='', onclick="return alert('Contact the tech chair or an exec member for help resetting your password.');", style="padding-bottom:15px;") Forgot Password?
        input(type='submit', name='login', value='Login', class='submit')