extends ../layout

block content
  h1 Sign up
    form(id='signup', action='signup', method='post')
      div 
        label Email: 
        input(type='text', name='email', placeholder='bearcat@mail.uc.edu')
      div
        label Password: 
        input(type='password', name='password')
      div
        label Confirm Password: 
        input(type='password', name='confirmPassword')
      input(type='submit', name='signup', value='Sign up')