extends ../layout

block content
  div(class='container')
    div(class='box-border signin')
      h1(class='title') Sign up
      form(id='signup', action='signup', method='post', class='sign-log')
        input(type='text', name='firstName', placeholder='First Name', class='entry')
        input(type='text', name='lastName', placeholder='Last Name', class='entry')
        input(type='text', name='email', placeholder='6+2@mail.uc.edu', class='entry')
        input(type='password', name='password', placeholder='Password', class='entry')
        input(type='password', name='confirmPassword', placeholder='Confirm Password', class='entry')
        input(type='submit', name='signup', value='Register', class='submit')