//- This file defines the row mixin for member
//- mixins allow for code reuse by functionizing common html blocks
//- https://pugjs.org/language/mixins.html

mixin member-row(member)
  img.member-photo(src='/images/default-profile-picture.jpg', style="height:50px;")
  .member-row-info
    a.member-name(href='/member/' + member.id) #{member.first_name} #{member.last_name}
    p #{member.email}
    p.major #{member.major}
