extends ../layout

block content
  .container
    .box-border
      h1.create-title Create event
      form.create-event(id='createEvent', action='create', method='post')
        .form-grid
          .left-grid
            div.form-group
              label Event Title:
              input.form-control.form-control-sm(type='text', name='title', placeholder='Tuesday Tour')
            div.form-group
              label Start Time:
              input.form-control.form-control-sm(type='text', name='startTime', placeholder='2018 January 01 10:00 AM')
          .right-grid
            div.form-group
              label Location:
              input.form-control.form-control-sm(type='text', name='location', placeholder='653 Baldwin Hall')
            div.form-group
              label End Time:
              input.form-control.form-control-sm(type='text', name='endTime', placeholder='2018 January 01 11:00 AM')
        div.form-group
          label Description:
          input.form-control.form-control-sm(type='text', name='description', placeholder='This event...')
        div.form-group.form-check
          input.form-check-input(type='checkbox', name='isPublic', checked=true)
          label.form-check-label Public Event
        div.form-group.form-check
          input.form-check-input(type='checkbox', name='isMeeting', checked=false)
          label.form-check-label Meeting
        input.submit(type='submit', name='create', value='Create Event')