extends ../layout
//- Include for the list function mixin - +event-list()
include ./mixins/list.pug

block content
  if user && user.super_user
    a.btn.btn-danger(href='/event/create') Create Event
  +event-list('Meetings', meetings)
  +event-list('Events', events)
